.Home{
  padding: 1em;
}
.header{
  color: coral;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
@media (min-width:600px) {
  .Home{
    width: 70%;
    margin-inline: auto;
  }
  .header{
    margin-bottom: 1.5em ;
  }
}